/*PAGINA PRINCIPAL*/
#indexh1{ 
    text-align: center;
    border-radius: 10px;
    padding: 5px;
    margin-left: 25%;
    margin-right: 25%;
    background-color: rgb(75, 123, 138);
    color: white
}

#indexh2{color: black;
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#th1{color: green;
}

#th2{color: red;
}

#th3{color: purple
}

#TyDh1{color: black;
    text-align: center;
    font-family: monospace;
}
/*BIOGRAFIA*/
.h1{
    text-align: center;
    border-radius: 10px;
    padding: 5px;
    margin-left: 25%;
    margin-right: 25%;
    background-color: green;
    color: white;
}
/*DISCOGRAFIA*/
.h2{
    text-align: center;
    border-radius: 10px;
    padding: 5px;
    margin-left: 25%;
    margin-right: 25%;
    background-color: rgb(184, 14, 14);
    color: white;
}
/*DISCO THE EMINEM SHOW*/
.h6{
    text-align: center;
    border-radius: 10px;
    padding: 5px;
    margin-left: 25%;
    margin-right: 25%;
    background-color: rgb(141, 45, 45);
    color: white;
}
/*SU PELICULA 8 MILLE*/
.h3{
    text-align: center;
    border-radius: 10px;
    padding: 5px;
    margin-left: 25%;
    margin-right: 25%;
    background-color: purple;
    color: white;
}
/*FORMULARIO*/
.h4{
    text-align: center;
    border-radius: 10px;
    padding: 5px;
    margin-left: 25%;
    margin-right: 25%;
    background-color: gray;
    color: black;
}
/*TERMINOS Y CONDICIONES DE USO*/
#h5{
    text-align: center;
    border-radius: 10px;
    padding: 5px;
    margin-left: 25%;
    margin-right: 25%;
    background-color: rgb(68, 68, 173);
    color: white;
}
